.form {
  &__wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 0 2.5rem; 
    grid-template-areas: 
      "loan-amount loan-amount"
      "loan-term interest-rate"
      "calculate-btn calculate-btn";
  }

  .input__icon svg path {
    transition: transition(input);
  }

  &__row:focus-within .input__icon svg path {
    stroke: color(primary-hover, 3);
  }

  &__row:focus-within .input__error-icon {
    display: none;
  }

  &__row:nth-of-type(1) {
    grid-area: loan-amount;
    margin-bottom: 2.5rem;
  }

  &__row:nth-of-type(2) {
    grid-area: loan-term;
  }

  &__row:nth-of-type(3) {
    grid-area: interest-rate;
  }

  &__row:nth-of-type(n + 2) {
    margin-bottom: 3.5rem;
  }

  .submit__row {
    grid-area: calculate-btn;
  }

  &__label {
    display: block;
    margin-bottom: 1rem;
    pointer-events: none;
    cursor: default;
  }

  @include breakpoint-down(mobile) {
    &__wrapper {
      grid-template-areas: 
      "loan-amount loan-amount"
      "loan-term loan-term"
      "interest-rate interest-rate"
      "calculate-btn calculate-btn";
    }

    &__row:nth-of-type(-n + 3) {
      margin-bottom: 2rem;
    }
  }
}

.input {
  &__group {
    position: relative;

  }

  &__icon {
    stroke: color(primary, 3);
    position: absolute;
    top: 12px;
    left: 12px;

    &--error {
      stroke: color(state, error);
    }
  }

  &__field {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid color(primary, 3);
    border-radius: 4px;
    padding: 0 2.25rem 0 2.25rem;
    outline: none;
    background: transparent;
    transition: transition(input);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }

    &:focus {
      border: 1px solid color(primary-hover, 3);
    }
  }

  &__field--error {
    border: 1px solid color(state, error);
    transition: transition(input);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }

    &:focus {
      border: 1px solid color(primary-hover, 3);
    }
  }

  &__error-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    transition: transition(input);
  }
}

.submit {
  &__btn {
    display: inline-block;
    width: 100%;
    padding: .625rem 0;
    border: 0;
    border-radius: 4px;
    outline: none;
    background: color(neutral, 1);
    cursor: pointer;
    transition: transition(input);

    &:hover {
      background: color(neutral-hover, 1);
      box-shadow: 0px 4px 4px rgba(73, 80, 87, 0.08);
    }
  }
}